.u-section-1 .u-sheet-1 {
  min-height: 531px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 114px 1090px 0 0;
}

.u-section-1 .u-line-1 {
  width: 1151px;
  transform-origin: left center;
  margin: 25px -11px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 26px auto 0 1px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-2 {
  width: 1151px;
  transform-origin: left center;
  margin: 27px -11px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 890px;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 670px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 490px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 290px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 735px;
}

.u-section-2 .u-sheet-1 {
  min-height: 1001px;
}

.u-section-2 .u-line-1 {
  width: 1152px;
  transform-origin: left center;
  margin: 11px -12px 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 1017px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-2 {
  width: 1152px;
  transform-origin: left center;
  margin: 20px -12px 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 863px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 11px 0 0 20px;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: 12px 0 0 20px;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 11px 0 0 20px;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 817px;
  }

  .u-section-2 .u-line-2 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 663px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 597px;
  }

  .u-section-2 .u-line-2 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 443px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 417px;
  }

  .u-section-2 .u-line-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 263px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 217px;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 63px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 173px;
}

.u-section-3 .u-text-1 {
  margin: -12px 20px 12px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}