.u-section-1 .u-sheet-1 {
  min-height: 1006px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 263px;
  margin: 91px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: -40px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 791px;
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 60px;
}

.u-section-1 .u-image-1 {
  width: 283px;
  height: 391px;
  margin: -5px 14px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.45;
  margin: 31px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 791px;
}

.u-section-1 .u-container-layout-2 {
  padding: 27px 9px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  margin: 0 106px 0 51px;
}

.u-section-1 .u-text-4 {
  background-image: none;
  margin: 19px 0 0 16px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 96px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -137px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 652px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 104px;
    padding-left: 7px;
  }

  .u-section-1 .u-image-1 {
    width: 234px;
    height: 323px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 652px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 634px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -723px;
    margin-bottom: 31px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 106px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 430px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -447px;
    margin-bottom: -211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 283px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -169px;
    margin-bottom: -170px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }
}