.u-section-1 .u-sheet-1 {
  min-height: 92px;
}

.u-section-1 .u-text-1 {
  --text-color-var: #478ac9;
  margin: 20px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 555px;
}

.u-section-2 .u-text-1 {
  margin: 11px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  margin: 20px auto 0 74px;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  margin: -24px auto 50px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 484px;
}

.u-section-3 .u-text-1 {
  margin: 11px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  margin: 19px auto 0 74px;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  margin: -24px 1086px 45px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 886px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-2 {
    margin-right: 666px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-btn-2 {
    margin-right: 486px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-btn-2 {
    margin-right: 286px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 501px;
}

.u-section-4 .u-text-1 {
  margin: 11px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  margin: 20px auto 0 74px;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  margin: -24px 1086px 60px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 886px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-btn-2 {
    margin-right: 666px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-btn-2 {
    margin-right: 486px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-btn-2 {
    margin-right: 286px;
  }
}